{% extends 'ecomapp/base2.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="row"></div>

<div class="container">
    <div class="row">

        <div class="col-sm-9 ">
            <div class="row p-3">
                <h1 class="">Your Saved Addresses:</h1>
                {% for i in cat %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-center">Address-{{forloop.counter}}</h5><hr>
                      <h6 class="card-subtitle mb-2 text-body-dark">{{i.name}}</h6>
                      <p class="card-text">{{i.locality}} <br> {{i.address}} <br> {{i.city}}, {{i.zipcode}} <br> {{i.state}}</p>
                      <a href="{% url 'editadd' i.id %}" class="card-link">Edit</a>
                      <a onclick="return confirm()" href="{% url 'deladd' i.id %}" class="card-link confirm-delete">Delete(JQ)</a>
                      <a onclick="return confirm('Are you sure you want to delete this address?')" href="{% url 'deladd' i.id %}" class="card-link">Delete(JS)</a>
                      
                    </div>
                  </div>
               {% endfor %}
              </div>
          </div>
    
    <div class="col-sm-1">
      </div>

    <div class="col-sm-2">
     <hr>
     <h5>Welcome <span class="text-capitalize">{{request.user}}</span></h5>
     <ul class="list-group">
      <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active" aria-current="true">Profile</a>
      <a href="{% url 'orders' %}" class="list-group-item list-group-item-action" aria-current="true">Orders</a>
      <a href="{% url 'address' %}" class="list-group-item list-group-item-action" aria-current="true">Add Address</a>
      <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action" aria-current="true">Wishlist</a>
      <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger" aria-current="true">Logout</a>

      <hr>
    </ul>
    </div>


    


   </div>
  </div>
  

{% endblock body %}